<a href="https://colab.research.google.com/github/tiwariaman01/Python_practice_repository/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello ")

hello

In [ ]:
mul = 3 * 4
print(mul)

12

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# lets make function

In [ ]:
def factorial(point):
  n = 1
  for val in range(1,point):
    n *= val
  return n



print(factorial(9))

40320

In [ ]:
from typing import NamedTuple
class Student :
  def __init__(self,name ,roll_no):
    self.name = name
    self.roll_no = roll_no


    print(name," ",roll_no)

  def mark(self):
    if (self.name == "aman"):

      print("student is great and intelligent")




stu1 = Student("aman",123)
stu1.mark()

aman   123
student is great and intelligent